body{
    background-color:black;
    color:white;
}
.key{
    border:2px solid white;
    padding:15px 45px;
    cursor:pointer;
    transition:all 0.1s;
}
.container{
    display:flex;
    gap:20px;
    justify-content:center;
    align-items:center;
}

.key-active{
    transform:scale(1.1);
    border:3px solid yellow;
    color:yellow;
    font-weight:600;
    font-size:1.1rem;
}