body{
    background-color:rgb(2, 34, 61);
    color:white;
}

.attempt{
    display:block;
    margin:20% auto;
    border:none;
    padding:30px;
    font-size:2rem;
    border-radius:10px;
    cursor:pointer;
    transition:all 0.2s ease-in;
}

.attempt:hover .arrow{
    display:inline-block;
    transform:translateX(10px);
    color:white;
    text-shadow: 2px 2px rgb(2, 77, 139);
}

.attempt:hover{
    color:white;
    text-shadow: 2px 2px rgb(5, 29, 49);
    border:5px solid orange;
    background-color:rgb(7, 30, 115);
}

.question-number{
    font-family:'Times New Roman', Times, serif;
    text-transform:uppercase;
    font-size:3rem;
    margin-left:25px;
}

.question{
    margin:10px 0px 20px 40px;
    font-family:'Times New Roman', Times, serif;
    font-size:2.5rem;
    font-weight:600;
}

.options{
    margin-left:40px;
    display:flex;
    flex-flow:column wrap;
    gap:20px;
}

.options label{
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    font-weight:600;
    text-transform:uppercase;
}

a{
    text-decoration:none;
}

.response{
    margin:40px;
    display:flex;
    gap:80px;
}
.response button{
    border:none;
    padding:14px;
    border-radius:10px;
    text-transform:uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.2rem;
    cursor:pointer;
    font-weight:600;
    transition:0.1s all;
}

.response .submit:hover{
    background-color:green;
    color:white;
}
.response .reset:hover{
    background-color:red;
    color:white;
}

.result-container{
    width:50%;
    border:2px solid gold;
    padding:30px;
    border-radius:10px;
    margin:auto;
    text-align:center;
}

.result{
    text-transform:uppercase;
    font-family:'Times New Roman', Times, serif;
    font-size:3rem;
    color:gold;
}

.score-board{
    color:silver;
    font-size:4rem;
}

.response{
    text-transform:uppercase;
    font-size:2rem;
}